[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ptpython = "*"
lnt = {path = ".",editable = true}

[packages]
grpcio-tools = "*"
grpcio = "*"
click = "*"
PyInquirer = "*"
googleapis-common-protos = "*"

[requires]
python_version = "3.7"
